html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;

}

#back {
    background-image:url("../assets/pbg.png");
    background-size:cover;
    background-attachment:fixed;
}

#ocean {
    background-image:url("../assets/ocean_bg_trans.png");
    background-size:cover;

}

#concrete {
    background-image:url("../assets/concrete.png");
}

#data {
    background-color:red;
    background-size:cover;
}


.info-icon:hover div {
    display:block !important;
}

.info-icon:hover {
    display:block !important;
}

.info-p a{
  color:#9d1c1f
}


.info-box::before {
  content: "a ";
  right:10px;
  margin-top:-1.2rem;
  position:absolute;
  width: 0;
	height: 0;
	border-left: 15px solid transparent;  /* left arrow slant */
	border-right: 15px solid transparent; /* right arrow slant */
	border-bottom: 15px solid #fff; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;

}

.mainbutton{
  background-color: #9d1c1f;
}

.mainbutton:hover{
  background-color:  #ff4136 !important;
}

.subbutton:hover{
  background-color: #D89756;
  color:black !important;
}

.designHover{
  opacity: 0;
}

.designHover:hover{
  opacity: 100;
}

.title-shadow {
  text-shadow: 4px 4px 4px rgba(0, 17, 0, 1);
}

.inset-shadow {
  text-shadow: 1.5px 1.5px 2px rgba(101, 113, 124, 1);
}

.programming-shadow{
  text-shadow: 2px 2px 0px #0d202f;
}

.lg {
  color: #0d9969;
}

.hunterslide{
  background-image:url("../assets/hunterslide.jpg")
}


.hunterslide1{
  background-image:url("../assets/hunterslide2.png")
}


.palmpattern{
  background-image:url("../assets/palm-leaf.png")
}

.greypattern{
  background-image:url("../assets/grey.png")
}

.binding_dark{
  background-image:url("../assets/binding_dark.png")
}

.marquee_button:hover{
  opacity:1;
}

.projectButton:hover{
  background-color: #ebf8ff !important;

}

.defaultcursor{
  cursor:default;
}

.portfolioGradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d202f+0,525c6d+7,7989a3+28,7989a3+28,7989a3+69,525c6d+94,0d202f+100 */
  background: #0d202f; /* Old browsers */
  background: -moz-linear-gradient(left, #0d202f 0%, #525c6d 7%, #7989a3 28%, #7989a3 28%, #7989a3 69%, #525c6d 94%, #0d202f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0d202f 0%,#525c6d 7%,#7989a3 28%,#7989a3 28%,#7989a3 69%,#525c6d 94%,#0d202f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0d202f 0%,#525c6d 7%,#7989a3 28%,#7989a3 28%,#7989a3 69%,#525c6d 94%,#0d202f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d202f', endColorstr='#0d202f',GradientType=1 ); /* IE6-9 */
}


.redbackground{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c0404+0,9d1c1f+100 */
  background: #2c0404; /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #9d1c1f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000 0%,#9d1c1f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000 0%,#9d1c1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#9d1c1f',GradientType=0 ); /* IE6-9 */
}










/*POKER*/

.poker{
		background-image: url("../assets/poker/felt.png");
		background-color: #003300;
		background-size: 531px 337px;
		background-blend-mode: luminosity;
}

.no-blend {
  background-image: none !important;
  background-color: #003300 !important;
}

.no-blend::before{
	position:absolute;
	width:100%;
	height:100%;
	opacity:.6;
	top:0;
	bottom:0;
	background-image: url("../assets/poker/felt.png");
	content:"";
	z-index: 0;
}

.poker::after{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	bottom:0;
	background-image: url("../assets/poker/pokeroverlay.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	content:"";
	z-index: 0;
}

.ving{ box-shadow: 0 0 300px rgba(0,0,0,0.9) inset;}

.cardwidth{
	max-width: 10rem;
}

.cardholder{
	max-width: 10rem;
}

.card-shadow{
	-webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

.card-slider{
	-webkit-transition: all .3s;
	transition: all .3s;

}

.card {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-transition: all .3s;
	transition: all .3s;
	top:0;

}

.card *{
  margin: 0;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card .cardfront {
	position:relative;
 	top:0;
 	left:0;
}
.card .cardback {
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
  left:0;
}

.cardholder .flipped {
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}


.neon{
	-webkit-animation: flicker 5s linear infinite;
	        animation: flicker 5s linear infinite;
}

@-webkit-keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: .9;
  }

  6% {
    opacity: .85;
  }

  8% {
    opacity: .95;
  }

  10% {
    opacity: .90;
  }

  11% {
    opacity: .922;
  }

  12% {
    opacity: .9;
  }

  14% {
    opacity: .95;
  }

  16% {
    opacity: .98;
  }

  17% {
    opacity: .9;
  }

  19% {
    opacity: .8;
  }

  20% {
    opacity: .99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: .94;
  }

  28% {
    opacity: .9;
  }

	32% {
    opacity: .95;
  }

	34% {
    opacity: .8;
  }

  37% {
    opacity: .93;
  }

  38% {
    opacity: .67;
  }

  40% {
    opacity: .96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: .97;
  }

  46% {
    opacity: .94;
  }

  56% {
    opacity: .9;
  }

  58% {
    opacity: .9;
  }

  60% {
    opacity: .99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: .9;
  }

  72% {
    opacity: .95;
  }

  93% {
    opacity: .93;
  }

  95% {
    opacity: .95;
  }

  97% {
    opacity: .93;
  }

  to {
    opacity: 1;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: .9;
  }

  6% {
    opacity: .85;
  }

  8% {
    opacity: .95;
  }

  10% {
    opacity: .90;
  }

  11% {
    opacity: .922;
  }

  12% {
    opacity: .9;
  }

  14% {
    opacity: .95;
  }

  16% {
    opacity: .98;
  }

  17% {
    opacity: .9;
  }

  19% {
    opacity: .8;
  }

  20% {
    opacity: .99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: .94;
  }

  28% {
    opacity: .9;
  }

	32% {
    opacity: .95;
  }

	34% {
    opacity: .8;
  }

  37% {
    opacity: .93;
  }

  38% {
    opacity: .67;
  }

  40% {
    opacity: .96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: .97;
  }

  46% {
    opacity: .94;
  }

  56% {
    opacity: .9;
  }

  58% {
    opacity: .9;
  }

  60% {
    opacity: .99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: .9;
  }

  72% {
    opacity: .95;
  }

  93% {
    opacity: .93;
  }

  95% {
    opacity: .95;
  }

  97% {
    opacity: .93;
  }

  to {
    opacity: 1;
  }
}


.floating {
  -ms-animation-name: floating;
  -ms-animation-duration: 3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: ease-in-out;
	-moz-animation-name: floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
	-webkit-animation-name: floating;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating {
  from { -webkit-transform: translate(0,  -5px); transform: translate(0,  -5px); }
  50%  { -webkit-transform: translate(0, 5px); transform: translate(0, 5px); }
  to   { -webkit-transform: translate(0, -5px); transform: translate(0, -5px); }
}

@keyframes floating {
  from { -webkit-transform: translate(0,  -5px); transform: translate(0,  -5px); }
  50%  { -webkit-transform: translate(0, 5px); transform: translate(0, 5px); }
  to   { -webkit-transform: translate(0, -5px); transform: translate(0, -5px); }
}
