html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  
}

#back {
    background-image:url("../assets/pbg.png");
    background-size:cover;
    background-attachment:fixed;
}

#ocean {
    background-image:url("../assets/ocean_bg_trans.png");
    background-size:cover;

}

#concrete {
    background-image:url("../assets/concrete.png");
}

#data {
    background-color:red;
    background-size:cover;
}

.mainbutton{
  background-color: #9d1c1f;
}

.mainbutton:hover{
  background-color:  #ff4136 !important;
}

.subbutton:hover{
  background-color: #D89756;
  color:black !important;
}

.designHover{
  opacity: 0;
}

.designHover:hover{
  opacity: 100;
}

.title-shadow {
  text-shadow: 4px 4px 4px rgba(0, 17, 0, 1);
}

.inset-shadow {
  text-shadow: 1.5px 1.5px 2px rgba(101, 113, 124, 1);
}

.programming-shadow{
  text-shadow: 2px 2px 0px #0d202f;
}

.lg {
  color: #0d9969;
}

.hunterslide{
  background-image:url("../assets/hunterslide.jpg")
}


.hunterslide1{
  background-image:url("../assets/hunterslide2.png")
}


.palmpattern{
  background-image:url("../assets/palm-leaf.png")
}

.binding_dark{
  background-image:url("../assets/binding_dark.png")
}

.marquee_button:hover{
  opacity:1;
}

.projectButton:hover{
  background-color: #ebf8ff !important;

}

.defaultcursor{
  cursor:default;
}

.portfolioGradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d202f+0,525c6d+7,7989a3+28,7989a3+28,7989a3+69,525c6d+94,0d202f+100 */
  background: #0d202f; /* Old browsers */
  background: -moz-linear-gradient(left, #0d202f 0%, #525c6d 7%, #7989a3 28%, #7989a3 28%, #7989a3 69%, #525c6d 94%, #0d202f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0d202f 0%,#525c6d 7%,#7989a3 28%,#7989a3 28%,#7989a3 69%,#525c6d 94%,#0d202f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0d202f 0%,#525c6d 7%,#7989a3 28%,#7989a3 28%,#7989a3 69%,#525c6d 94%,#0d202f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d202f', endColorstr='#0d202f',GradientType=1 ); /* IE6-9 */
}


.redbackground{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c0404+0,9d1c1f+100 */
  background: #2c0404; /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #9d1c1f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000 0%,#9d1c1f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000 0%,#9d1c1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#9d1c1f',GradientType=0 ); /* IE6-9 */
}
